# espanso match file

# For a complete introduction, visit the official docs at: https://espanso.org/docs/

# You can use this file to define the base matches (aka snippets)
# that will be available in every application when using espanso.

# Matches are substitution rules: when you type the "trigger" string
# it gets replaced by the "replace" string.
matches:
  # prénom, first name
  - regex: ":(pr|fi)"
    label: "Romain"
    replace: "Romain"

  # nom, last name
  - regex: ":(no|la)"
    label: "Racamier"
    replace: "Racamier"

  # name
  - regex: ":(na)"
    label: "Romain Racamier"
    replace: "Romain Racamier"

  # entreprise, company
  - regex: ":(en|co)"
    label: "Collectif Energie"
    replace: "Collectif Energie"

  # raison sociale
  - regex: ":(ra)"
    label: "HumaCode"
    replace: "HumaCode"

  # poste, job
  - regex: ":(po|jo)"
    label: "Développeur Web"
    replace: "Développeur Web"

  # tva
  - regex: ":(tv)"
    label: "FR41982417594"
    replace: "FR41982417594"

  # mail, email
  - regex: ":(ma|em)"
    label: "romain.racamier@gmail.com"
    replace: "romain.racamier@gmail.com"

  # mail pro, pro mail
  - regex: ":(mp|pm)"
    label: "r.racamier@collectifenergie.com"
    replace: "r.racamier@collectifenergie.com"

  # adresse, address
  - regex: ":(adr|addr|address)"
    label: "21 rue du Berry 67100 Strasbourg"
    replace: "21 rue du Berry 67100 Strasbourg"

  # ville, city
  - regex: ":(vi|ci)"
    label: "Strasbourg"
    replace: "Strasbourg"

  # code postal, postal code, zip code
  - regex: ":(co|cp|zi|po)"
    label: "67100"
    replace: "67100"

  # rue, street
  - regex: ":(ru|st)"
    label: "21 rue du Berry"
    replace: "21 rue du Berry"

  # téléphone, phone
  - regex: ":(te|ph)"
    label: "0658476788"
    replace: "0658476788"

  # linked-in
  - trigger: ":li"
    label: "My LinkedIn profile"
    replace: "https://www.linkedin.com/in/romain-racamier"

  # NOTE: espanso uses YAML to define matches, so pay attention to the indentation!

  # But matches can also be dynamic:

  # Print the current date
  - trigger: ":da"
    replace: "{{today}}"
    vars:
      - name: today
        type: date
        params:
          format: "%m/%d/%Y"

  # Print the output of a shell command
  - trigger: ":sh"
    replace: "{{output}}"
    vars:
      - name: output
        type: shell
        params:
          cmd: "echo 'Hello from your shell'"

  # And much more! For more information, visit the docs: https://espanso.org/docs/
