[core]
	excludesfile = %USERPROFILE%\\.gitignore
	editor = vim
  eol = lf
	autocrlf = input
	filemode = false

[user]
	name = Romain Racamier-Lafon
	email = romain.racamier@gmail.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	aa = add .
	amend = commit --amend --no-edit
	as = "! GIT_SEQUENCE_EDITOR=: git rebase -i --autosquash"
	f = fetch -va
	ff= merge --ff-only
	l = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn %ad]' --decorate --date=relative
	ll = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn %ad]' --decorate --date=relative -5
	pf = push --force
	st = status -sbu

[diff]
	tool = araxis
[difftool]
  prompt = false
[difftool "araxis"]
	cmd = merge $LOCAL $REMOTE

[merge]
	tool = araxis
[mergetool]
  prompt = false
[mergetool "araxis"]
	cmd = merge $LOCAL $REMOTE $MERGED$
